{% extends "layout.njk" %}

{% block content %}
    <title>Not Found - Foodfy</title>

    <!-- Message Error -->
    <div class="box">
                <div class="box-text">
                    <h1>404 NOT FOUND</h1>
                    <p>Sua página não foi encontrada</p>
                </div>

                <div class="box-img">
                    <img src="assets/chef.png" alt="">
                </div>
            </div>
{% endblock %}